.top_navbar_container {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_bar_menu_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.top_bar_menu_container li {
  list-style: none;
  font-weight: 400;
  font-size: 12px;
  transition: 0.3s;
}

.top_bar_menu_container li:hover {
  color: var(--button-hover);
}
